# Project 1

In this first project you will create a framework to scope out data science projects. This framework will provide you with a guide to develop a well-articulated problem statement and analysis plan that will be robust and reproducible.

### Read and evaluate the following problem statement: 
Determine which free-tier customers will covert to paying customers, using demographic data collected at signup (age, gender, location, and profession) and customer useage data (days since last log in, and activity score 1 = active user, 0= inactive user) based on Hooli data from Jan-Apr 2015.

In [4]:
import pandas as pd
import os



data = pd.read_csv('admissions.csv')

data.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000         NaN        NaN         NaN
50%      0.000000         NaN        NaN         NaN
75%      1.000000         NaN        NaN         NaN
max      1.000000  800.000000    4.00000    4.000000

#### 1. What is the outcome?

Answer: whether a free-tier customer converts to a paying customer

#### 2. What are the predictors/covariates?

Answer: age, gender, location, profession, days since last log in, activity score

#### 3. What timeframe is this data relevent for?

Answer: Jan-Apr 2015

#### 4. What is the hypothesis?

Answer: certain demographic and customer usage variables will be predictive of whether a free-tier customer is likely to convert to a paying customer

## Let's get started with our dataset

In [7]:
import pandas as pd
import os
import numpy

data = pd.read_csv('admissions.csv')
data.describe()

            admit         gre        gpa    prestige
count  400.000000  398.000000  398.00000  399.000000
mean     0.317500  588.040201    3.39093    2.486216
std      0.466087  115.628513    0.38063    0.945333
min      0.000000  220.000000    2.26000    1.000000
25%      0.000000         NaN        NaN         NaN
50%      0.000000         NaN        NaN         NaN
75%      1.000000         NaN        NaN         NaN
max      1.000000  800.000000    4.00000    4.000000

#### 1. Create a data dictionary

Answer: 

Variable | Description | Type of Variable
---| ---| ---
admit | 0 = not admitted 1 = admitted | categorical
gre | gre score | continuous 
gpa | Grade Point Average | continuous 
prestige | rank of an applicant's undergraduate alma mater, with 1 being the highest and 4 as the lowest | categorical

We would like to explore the association between gre and gpa

#### 2. What is the outcome?

Answer: whether a higher GRE leads to a higher GPA

#### 3. What are the predictors/covariates?

Answer: GRE is a predictor

#### 4. What timeframe is this data relevent for?

Answer: Whenever the dataset was collected

#### 4. What is the hypothesis?

Answer: I hypothesize that higher GREs will be positively correlated with higher GPAs

    Using the above information, write a well-formed problem statement.

## Problem Statement

### Exploratory Analysis Plan

Using the lab from a class as a guide, create an exploratory analysis plan.

#### 1. What are the goals of the exploratory analysis?

Answer: The goal is to determine whether GRE and GPA are positively correlated together

#### 2a. What are the assumptions of the distribution of data?

Answer: I assume is that the data is normal

#### 2b. How will determine the distribution of your data?

Answer: I will use numpy

#### 3a. How might outliers impact your analysis?

Answer: If I don't remove outliers they could skew the assumed correlation between the data

#### 3b. How will you test for outliers?

Answer: I will compare min/max values with the standard deviations and means

#### 4a. What is colinearity?

Answer: when multiple predictor are correlated together

#### 4b. How will you test for colinearity?

Answer: use numpy to check correlation

#### 5. What is your exploratory analysis plan?
Using the above information, write an exploratory analysis plan that would allow you or a colleague to reproduce your analysis 1 year from now.

Answer:

## Bonus Questions:
1. Outline your analysis method for predicting your outcome
2. Write an alternative problem statement for your dataset
3. Articulate the assumptions and risks of the alternative model